// color variables
$color1: #29c9a9;
$color2: #191654;

// color gradient lists
$list1: $color1, $color2, $color1;
$list2: $color1 25%, $color2 50%, $color1 75%, $color2 100%;
$list3: $color1, $color2, $color1, $color2, $color1;
$list4: $color1, $color2 30%, $color1;

// mixin called gradient with background properties
@mixin gradient($direction, $list) {
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);
}

// setting the font
$font-stack: Roboto Slab, serif;

// setting the primary color variable
$primary-color: #e1f3ef;

// other color variables
$main-color: #3aeeca;
$second-color: #2821a4;

// scss for html page
body {
    padding: 0;
    margin: 1em;
    font: 100% $font-stack;
    color: $primary-color;
    @include gradient(right, $list4);
    text-align: left;
}

main {
    background: rgba($color: #120f3d, $alpha: 0.2);
    margin: 0;
    padding: 1em;
    font-size: 1.5em;

    div {
        padding: 0.5em 0;
    }
}

input[type="text"], input[type="number"] {
    height: 1.5em;
    font-family: inherit;
    width: 10em;
    background-color: #e1f3ef;
    border: 0.1em solid;
    text-align: right;
}
input[type="button"] {
    color: $main-color;
    background-color: $second-color;
    border: 1px solid $main-color;
    font-family: $font-stack;
    height: 2em;
    font-size: 0.6em;
}


#list {
    text-align: right;
    font-size: 0.8em;
}

.gif {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 500px;
    border: 0.1em solid #e1f3ef;
}

